<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Subject: <%= @contact.subject %></h3>
    <h3>Name: <%= @contact.first_name %> <%= @contact.last_name %> </h3>
    <p>
      <%= @contact.message %>
    </p>
  </body>
</html>