<div class='row'>
  <div class="about span10 center-me">
    <div class='content span9 center-me'>
      <h2>Our Mission</h2>
      <p>The goal of Alpha Epsilon Omega at University of California in Los Angeles is to create an environment where
        bonds are made and strengthened between its members. Ultimately these bonds are to serve as powerful networking
        tools during and beyond our college years. Alpha Epsilon Omega promotes the Armenian history,
        language and culture on campus by hosting a variety of events and extending membership to men from all ethnic
        backgrounds. Our organization leadership experience by placing members in leadership positions. Alpha Epsilon
        Omega will support its members in reaching the highest standards of achievement in all aspects of their lives.
      </p>
      <p>These men felt that although the competitive UCLA environment demanded a lot from a student,
        especially from those who were interested in education beyond their undergraduate work,
        there was still a place for an organization such as Alpha Epsilon Omega to make their college experience
        truly memorable.</p>

      <h2>Beta Chapter at UCLA</h2>
      <p>The Beta chapter of Alpha Epsilon Omega was started at UCLA on May 9, 2001 becoming one of more thatn 60
        Greek letter-organizations on campus. The founding members were Arthur Jordan, Aris Minas, Arbi Nazarian,
        Manuel Avedissian, Tevan Ovsepyan, and Nerses Kazaryan. These founders were a group of men who cam from a
        variety of Amrniean backgrounds and academic majors. </p>

      <h2>National History</h2>
      <p>Alpha Epsilon Omega was established on December 20, 2000 by Hakop Sinoryan, Misak Zetilyan,
        and Antranik Satamian at California State University, Northridge. During a High School Exchange trip to Armenia in
        the spring of 1999, these men saw an impoverished nation with wide spread corruption and injustice. Upon returning
        to the United States, their experiences in Armenia and a passion for their Armenian heritage inspired them to
        establish an after-school program for the Armenian youth in their hometown of Pasadena, California. As freshmen in
        college, their studies and work created time constraints forcing the triumvirate to abandon the after-school
        program in the fall of 1999, still in the planning stages. The notion of &#8220;unity for the advancement of the
        Armenian nation&#8221; was still living in the minds of the Triumvirate. At the completion of the spring 2000
        semester the Triumvirate convened to reignite the mission of creating a social, cultural, and philanthropic
        organization for the advancement of the Armenian nation. They agreed on the establishment of a lifelong fraternal
        society which would serve as a catalyst in executing the principles set forth by the Triumvirate.</p>

      <p>Throughout the following six months the Triumvirate would set the foundation of Alpha Epsilon Omega, and recruit
        gentlemen to establish the fraternity at California State University, Northridge. The fraternity chartered its
        first chapter, Alpha Chapter, at California State University Northridge in the spring of 2001. Two months after
        chartering the Alpha Chapter, the organization was successful in chartering the Beta Chapter at the University of
        California, Los Angeles. For one year the fraternity grew in numbers and became active in their respective
        universities. In the summer of 2002 the Gamma Chapter was chartered at the University of California, Irvine. Fall
        2003 saw the inclusion of yet another chapter in Alpha Epsilon Omega; the Delta Chapter was chartered at
        California State University, Los Angeles. During the next two years Alpha Epsilon Omega would grow exponentially
        in numbers, exceeding one hundred brothers. Qualitative growth contributed to the development of Alpha Epsilon
        Omega. By recruiting members based on the notion &#8220;quality over quantity&#8221;, the fraternity became
        successful in the undertaking of various cultural and philanthropic endeavors. A number of which continue to this
        day. In the fall of 2004, group of gentlemen at the University of Southern California, and California State
        University, Pomona approached the fraternity with the intention of establishing a chapter at their respective
        universities. Their goal was realized when the fraternity chartered the Epsilon Chapter at the University of
        Southern California in the summer of 2005. In the fall of 2006, Alpha Epsilon Omega expanded its reach south of
        Orange County and into San Diego. The fraternity chartered its seventh chapter, the Eta Chapter, at the University
        of California, San Diego. Brotherhood is a key element in Alpha Epsilon Omega. It is the backbone of the
        organization, binding every member together.</p>

      <a name='academics'></a>
      <h2>Our Brotherhood</h2>
      <p>Brotherhood is a key element at Alpha Epsilon Omega, where life-long friendships are made. Sharing good times
        with your fraternity brothers is an experience that can&#8217;t be matched. By being a member of Alpha Epsilon
        Omega you will enhance your college experience and make them the best years of your life.</p>

      <h2>Academics</h2>
      <p>At Alpha Epsilon Omega we never forget that we are students first. We hold academic achievement above all else.
        As a member you will find that your brothers are often your most valuable academic resource. In addition we also
        provide resources to our members who would like to learn more about Armenian history, language, and culture.</p>

      <a name='philanthropy'></a>
      <h2>Philanthropy</h2>
      <p>Alpha Epsilon Omega is always looking to help out Armenians both here and in Armenia. Alpha Epsilon Omega
        regularly participates in various philanthropic activities benefiting the Armenian Community and advances The
        Armenian Cause.</p>
      <p>
        One of the cornerstones of our organization is the philanthropic work we do to better the Armenian Community.
        Our primary philanthropic project is the Armenian Educational Relief Fund (AERF) which was started in 2006 by
        the brothers of Alpha Epsilon Omega. The goal of AERF is to provide essential school supplies to schoolchildren
        in the outskirts of Armenia. AERF also focuses on renovating kindergartens that are in need of repairs to
        provide a safe learning environment for students.
      </p>
      <p>
        So far, we have made four trips to various Armenian cities including Ashtarak, Armavir, Stenapavan, and Hrazdan.
        In total, AERF has helped 9 kindergartens housing over 700 students by donating backpacks filled with school
        supplies, writing materials, playground play-sets, chairs, and many other essential school supplies and repairs.
        We continue our efforts to improve the educational experience of children in Armenia. We are currently
        fundraising for Project Number Five which has a goal of donating 1000 backpacks through the summer of 2014.
      </p>

      <h2>Pledgeship</h2>
      <p>At Alpha Epsilon Omega, we have only two objectives for our pledges, to learn about the traditions of our
        fraternity and to have fun. Most brothers fondly remember their pledge term as their most exciting semester of
        college. During your pledgeship, you will establish life-long friendships, have unforgettable experiences, and
        embrace the virtues of your new fraternity.</p>

      <a name='sports'></a>
      <h2>Sports</h2>
      <p>At Alpha Epsilon Omega, we regularly participate in sporting events both at school and in the community. We
        participate in Intramural tournaments on campus, competing against other fraternities and clubs.</p>

      <h2>Why Rush?</h2>
      <p>Joining Alpha Epsilon Omega will make your college experience one to remember. Brotherhood, academics,
        philanthropy, social life, fun and most importantly being Armenian are facets of being a member of Alpha
        Epsilon Omega.</p>

      <h2>How to Rush?</h2>
      <p>We hold rush at the beginning of each term, at this time you will see our flyers and billboards on campus. The
        best way to rush is to ask the brothers, who will be wearing t-shirts and sweatshirts with the letters of AEO, for
        information on rush events. If you have any questions or would like to rush please
        <%= link_to "contact us", new_contact_path %>.</p>
    </div>

  </div>
  <div class='about-content-bottom'></div>
</div>


