/* CAROUSEL CSS
-------------------------------------------------- */
.carousel {
  margin-bottom: 60px;

  .container {
    position: relative;
    z-index: 9;
  }

  .item {
    height: 500px;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
  }
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin-top: 200px;
  margin-left: 30px;

  h1,
  .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
  }

  .btn {
    margin-top: 10px;
  }
}

/* CAROUSEL - RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 979px) {
  .carousel
  {
    .item {
      height: 500px;
    }

    img {
      width: auto;
      height: 500px;
    }
  }
}

@media (max-width: 767px) {

  .carousel {
    margin-left: -20px;
    margin-right: -20px;

    .item {
      height: 300px;
    }

    img {
      height: 300px;
    }
  }

  .carousel-caption {
    width: 65%;
    padding: 0 70px;
    margin-top: 100px;

    h1 {
      font-size: 30px;
    }

    .lead,
    .btn {
      font-size: 18px;
    }
  }
}

@media (max-width: 500px)  {
  .carousel-caption {
    margin-left: 5px;
    h1 {
      font-size: 25px;
    }
    .lead,
    .btn {
      font-size: 12px;
    }

    .btn {
      padding: 3px 6px;
    }
  }
}

/* MARKETING CSS
-------------------------------------------------- */
.marketing {
  .span4 {
    text-align: center;
  }

  h2 {
    font-weight: normal;
  }

  .span4 p {
    margin-left: 10px;
    margin-right: 10px;
  }

  img {
    height: 246.5px;
    width: 370px;
  }
}

/* PROMO VIDEO CSS
------------------------- */
.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}

.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-divider {
  margin-top: 25px;
  margin-bottom: 25px;
}

.promo-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* PROMO VIDEO - RESPONSIVE CSS
------------------------- */
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}