<div class='row'>
  <div class='span9 center-me'>
      <% @brothers.each do |brother| %>
        <%= render :partial => "details", :locals => {:brother => brother} %>
        <br />
      <% end %>
  </div>
</div>

<div class='row'>
  <div class='span2 center-me'>
    <%= link_to 'New Brother', new_brother_path %>
  </div>
</div>

