<h1>Brothers of Alpha Epsilon Omega - Beta Chapter</h1>


<ul class="thumbnails">

  <% @brothers.each do |brother| %>
  <li class="span5 clearfix">
    <div class="thumbnail clearfix">
      <%= image_tag brother.avatar.url(:medium), :alt=>brother.name, :class=>"pull-left span2 clearfix" %>

      <div class="caption" class="pull-left">
        <%= link_to 'Read Bio', brother, :class=>"btn btn-primary icon pull-right", :style => "color:white" %>
        <h4>
          <a href="#" ><%=brother.name %></a>
        </h4>
        <small><b>Major: </b>Computer Science and Engineering</small>


      </div>
    </div>
  </li>
  <% end %>
</ul>


<%= link_to 'New Brother', new_brother_path %>
