<!DOCTYPE html>
<html>
  <%= render 'layouts/header' %>
  <body>
    <%= render 'layouts/navigation' %>
    <div class="container">
      <%= yield %>
      <hr />
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
